---
import {
  colorSets,
  colorPairs,
  colorShades,
  bgColors,
  textColors,
  bgColorPairings,
  textColorPairings,
} from "./classes";
---

<section class="py-32">
  <h2 class="head-2 mb-4">Colors</h2>
  <p class="mb-8">
    shows <code class="code">--color-*</code> and <code class="code"
      >--color-*-*</code
    > variables and their contrast counterparts being used.
  </p>
  <h3 class="head-3 mb-4">Color Sets</h3>
  <div class="grid grid-cols-7 mb-12">
    {
      colorSets.map((set, i) => (
        <div>
          <p class="text-sm text-center break-words h-9">{set}</p>
          <div>
            {bgColors[i].map((bgClass, j) => (
              <div class={`flex items-center justify-center h-9 ${bgClass}`}>
                <span class={`${textColors[i][j]} text-xs`}>
                  {colorShades[j]}
                </span>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
  <h3 class="head-3 mb-4">Color Pairings</h3>
  <div class="grid grid-cols-7 mb-12">
    {
      colorSets.map((set, i) => (
        <div>
          <p class="text-sm text-center break-words h-9">{set}</p>
          <div>
            {bgColorPairings[i].map((bgClass, j) => (
              <div class={`flex items-center justify-center h-9 ${bgClass}`}>
                <span class={`${textColorPairings[i][j]} text-xs`}>
                  {colorPairs[j][0]}-{colorPairs[j][1]}
                </span>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
